@import '../../../Adaptive.scss';
@import '../../../Global.scss';

.sidebar-component {
    width: 180px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $blue-gray;
    border-left: 1px solid #706ea2;
    color: $text-light;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    transition-property: right;
    transition-duration: 1s;

    &.hidden {
        right: -180px;
    }

    .hide-sidebar-button {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: color;
        transition-duration: 1500ms;

        &:hover {
            cursor: pointer;
        }

        &:active {
            color: $blue;
            transition-property: color;
            transition-duration: 300ms;
        }
    }
}
